{% extends '::base.html.twig' %}

{% block body %}
	<table border=1>
		<tr><th>Surname</th><th>Name</th><th>Login</th><th>Password</th></tr>
		{% for c in clients %}
			<tr>
				<td>{{ c.surname }}</td>
				<td>{{ c.name }}</td>
				<td>{{ c.login }}</td>
				<td>{{ c.password }}</td>
			</tr>
		{% endfor %}
	<table>
	<a href={{ path('client_add') }}>Register</a>
	</br>
	<a href={{ path('client_login') }}>Login</a>
	</br>
{% endblock %}